@media (max-width: 700px){ 

body{
    background:linear-gradient(#D27E4E,#DB9C3D) ;

}
.container{ 
    display: flex;
    flex-direction:column; 
    justify-content: center;
    height: 100vh;
    width: 70vw;

}
img{
    margin-bottom: 0;
}

h1{
 color: rgb(166, 24, 48);
 text-transform:uppercase;
 text-align: center;
 margin-top: 0;

}
P{
    padding-right: 20px;
    padding-left: 20px;
}









    
}