body{
    background:linear-gradient(#AEEE91,#B1FBFB);
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 100vh;
}
.container{ 
    background-color: white;
    max-width: 1300px;
    margin: auto;
    display: flex;
   padding-top: 0;
   
}
.container img, .container div{
    flex: 1;
    margin: 20px;
    min-width: 300px;
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container img{
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    margin: 30px 30px;
}
